@charset 'utf8';
a {
    text-decoration: none;
    white-space: nowrap;
}
    a[alt="新規登録"] {
        
    }
body {
    
}
ul, li {
    list-style-type: none;
    display: inline;
}
/*****************
    headerの設定
******************/
header {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: gray;
}
/*****************
    containerの設定
******************/
div #container {
    background-color: red;
}





/*****************
    footerの設定
******************/
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: gray;
}
